<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>913385353421-4m9hu2nfcpa07vvmunfvkcnte5c3k9f8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.913385353421-4m9hu2nfcpa07vvmunfvkcnte5c3k9f8</string>
	<key>API_KEY</key>
	<string>AIzaSyDUAmotBXyYLbcFbVrMtZnmNfTEbnoD0fw</string>
	<key>GCM_SENDER_ID</key>
	<string>913385353421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cornette.xavierapp</string>
	<key>PROJECT_ID</key>
	<string>xavier-high-school-app</string>
	<key>STORAGE_BUCKET</key>
	<string>xavier-high-school-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913385353421:ios:b5ee1bbb73f4298026f984</string>
</dict>
</plist>